<div class="notification-container">
  <div class="notification-header">
    <mat-icon class="header-icon">notifications</mat-icon>
    <div class="notification-actions">
      <button mat-icon-button color="primary" (click)="markAllAsRead()" matTooltip="Mark All Read">
        <mat-icon>done_all</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteAllNotifications()" matTooltip="Clear All">
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
  <div class="notifications-scroll-container">
    <button 
      class="scroll-button scroll-up" 
      (click)="scrollNotifications('up')"
      *ngIf="currentIndex > 0">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <div class="notification-list">
      <div *ngFor="let notification of displayedNotifications">
        <mat-card class="notification-card" [ngClass]="notification.status === 'unread' ? 'notification-unread' : 'notification-read'">
          <div class="notification-status" [ngClass]="notification.status === 'unread' ? 'status-unread' : 'status-read'"></div>
          <mat-card-header>
            <mat-icon>{{getNotificationIcon(notification._id)}}</mat-icon>
            <mat-card-title>{{notification.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{notification.message}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <button 
      class="scroll-button scroll-down" 
      (click)="scrollNotifications('down')"
      *ngIf="currentIndex + maxDisplayed < notifications.length">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>