<div class="profile-container">
  <mat-card>
      <div class="profile-header">
          <div class="profile-avatar" role="img" aria-label="User profile avatar">
              <mat-icon class="avatar-icon" aria-hidden="true">account_circle</mat-icon>
          </div>
          <button mat-icon-button 
                  class="notifications-button" 
                  (click)="openNotificationsDialog()"
                  [attr.aria-label]="'You have ' + notifications.length + ' notifications'">
              <mat-icon [matBadge]="notifications.length" 
                       matBadgeColor="warn" 
                       [matBadgeHidden]="notifications.length === 0">
                  notifications
              </mat-icon>
          </button>
      </div>

      <div class="profile-details">
          <h1 class="user-name">{{user.fullName}}</h1>
          <p class="community-name">{{user.communityName}}</p>

          <mat-list>
              <mat-list-item>
                  <mat-icon>email</mat-icon>
                  <span>{{user.email}}</span>
              </mat-list-item>

              <mat-list-item>
                  <mat-icon>phone</mat-icon>
                  <span>{{user.contactNumber}}</span>
              </mat-list-item>

              <mat-list-item>
                  <mat-icon>home</mat-icon>
                  <span>{{user.residentialAddress}}</span>
              </mat-list-item>
          </mat-list>

          <button mat-raised-button (click)="onEditProfile()">
              <mat-icon>edit</mat-icon>
              Edit Profile
          </button>
      </div>
  </mat-card>
</div>