<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <span class="app-title">{{appTitle}}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="notification-button" (click)="openNotifications()">
    <mat-icon>notifications</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'push'" [opened]="isMenuOpen" class="sidenav">
    <div class="nav-header">
      <div class="logo-container">
        <mat-icon>eco</mat-icon>
        <span>{{appTitle}}</span>
      </div>
    </div>
    
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/recycling" routerLinkActive="active">
        <mat-icon>recycling</mat-icon>
        <span>Recycling</span>
      </a>
      <a mat-list-item routerLink="/disposal" routerLinkActive="active">
        <mat-icon>delete</mat-icon>
        <span>Disposal</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/waste-collection" routerLinkActive="active">
        <mat-icon>local_shipping</mat-icon>
        <span>Waste Collection</span>
      </a>
      <a mat-list-item routerLink="/pickup-history" routerLinkActive="active">
        <mat-icon>local_shipping</mat-icon>
        <span>Pickup History</span>
      </a>
      <a mat-list-item routerLink="/reports" routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        <span>Reports</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-list-item routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">
        <mat-icon>settings</mat-icon>
        <span>Admin Dashboard</span>
      </a>
      <mat-divider></mat-divider>
      <ng-container *ngIf="!isLoggedIn(); else logoutButton">
        <a mat-list-item routerLink="/access">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </ng-container>
      <ng-template #logoutButton>
        <a mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </ng-template>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">
        <mat-icon>contact_page</mat-icon>
        <span>Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
